.box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
h1{
    text-align: center;
    color: #F6F0D7;

}
form{
    background-color: #F6F0D7;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    color: #89986D;
    gap: 5px;

}
form input{
    outline: none;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #F6F0D7;
}

button
{
    height: 40px;
    background-color: #89986D;
    margin-top: 10px;
    color: #F6F0D7;
    font-size:small;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    border: 1px solid #89986D;
}
form:hover{
    background-color:#f5edcc;
}
.tbl
{
  background-color: #89986D;
  height: 400px;
 color: #f5edcc;
 font-size: large;
 font-weight: 700;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f
{
    display: flex;
    gap: 0px;
    justify-content: space-around;
}